STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_BASE_URL=http://localhost:3000

NEXT_PUBLIC_STRIPE_QUICK_PREP_LINK=
NEXT_PUBLIC_STRIPE_FULL_INTERVIEW_BRIEF_LINK=
NEXT_PUBLIC_STRIPE_PREMIUM_PREP_LINK=

ADMIN_DASHBOARD_PASSWORD=
PREP_INTERVIEW_WORKSPACE_URL=

GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_DRIVE_ROOT_FOLDER_ID=
